@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Joan&display=swap');
body {
  text-align: center;
}
.win {  border: 10px solid green;  color: green; }
.lose {  border: 10px solid red;  color: red; }
.tie {  border: 10px solid black;  color: black; }
.box {
  border: 1px solid black;
  width: 500px;
  border-radius: 5px;
  margin: 60px 35px 0;
  padding: 50px;
  
}
.item-img {
  width: 400px;
  transition-duration: 0.3s;
}

.main {
  display: flex;
  justify-content: center;
  font-family: 'Gowun Dodum', 'Joan', sans-serif;
}


.main button{
  border: none;
  padding: 15px;
  margin: 60px 35px 0;
  font-family: 'Gowun Dodum', 'Joan', sans-serif;
 

}