@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=IBM+Plex+Sans+KR:wght@100;200;300;400&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
* {
  font-family: 'Gowun Dodum', sans-serif;
font-family: 'IBM Plex Sans KR', sans-serif;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.black-nav {
  display: flex;
  background: #008080;
  color: white;
  padding-left: 20px;
}

button {
  border: none;
  padding: 15px;
  background-color: transparent;
  margin-left: 15px;
}
div {
  box-sizing: border-box;
 
}
.list {
  padding-left: 20px;
  text-align: left;
  border-bottom: 1px solid gray;
}

.modal{
  margin-top : 20px;
  padding : 20px;
  background : #eee;
  text-align : left;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
