.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition:opacity  0.5s;
}

.main-bg {
  height: 300px;
  /* background-image: url('./img/bg.png'); */
  background-size: cover;
  background-position: center;
}

.link {
  padding: 15px;
  text-decoration: none;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.navbar {
  background-color: white;
}
.lasted {
  width: 300px;
  height: auto;
  background-color: rgb(235, 217, 199);
  position: fixed;
  top: 30px;
  right: 30px;
}

.lasted h3 {
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #eee;
}

.lasted img {
  width: 90%;
  margin: 10px auto;
  border-radius: 10%;
}

.lasted h5 {
  height: 40px;
  line-height: 40px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
